body { background-image: url(gradientblue.jpg);
       color: #d5e3ff; 
       font-family: Arial, Verdana, sans-serif; }
main  { margin-left: 180px;
       padding-right: 20px;
       padding-bottom: 20px; }
h1   { background-image: url(bigfish.gif);
       background-position: center;
       background-repeat: no-repeat;
       font-size: 3em;
       padding: 10px;
       line-height: 150%;
       text-shadow: 2px 2px #cccccc;
       text-align: center;
       background-color: #000066;
       color: #FFFFFF; }
nav  { font-weight: bold;
       float: left;
       width: 150px; }   
nav ul { list-style-type: none;}
nav a { text-decoration: none;}
nav a:link{ color: #3262a3;}
nav a:visited{ color: #6699ff;}
nav a:hover{ color: #cccccc;}
footer  { font-size: .70em;
         font-style: italic;
         padding: 10px;
         margin-left: 180px }
#wrapper { background-color: #ffffff;
           color: #000066;
           width: 80%;
           margin-left: auto;
           margin-right: auto;
           min-width: 700px;
           max-width: 1024px; }
.category {font-weight:bold;
            background-color: #ffffff ;
            color: #003366;
            font-size: 1.1em;
            text-shadow: 1px 1px 1px #666; }
img {border-style: none;}
footer nav { text-align: left}
header nav main footer { display: block;}
#mobile {display: none;}
#desktop {display:inline;}
@media only screen and (max-width: 1024px) {
body {padding: 0px;
      margin: 0px;
      background-color: #FFFFFF;
      background-image: none; }
#wrapper {width: auto;
          min-width: 0px;
          margin: 0px; }
h1 {margin: 0px;
    text-align: center;
    font-size: 2em;
    line-height: 200%; }
nav {float: none;
     width: auto; }
nav li {display: inline-block;}
nav a { padding: 1em;
        border-style: none;
        font-size: 1.2em; }
nav ul {text-align: center;
        padding:0em;
        margin:0em; }
main {margin:0em;
      padding-top: 0em;
      padding-bottom: 0em;
      padding-right: 1em;
      padding-left:1em;
      font-size: 90%}
dd {margin-bottom: 1em }
footer {margin:0em;}
}
@media only screen and (max-width: 768px) {
h1 {background-image: url(lilfish.gif);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 1.5em;
    line-height: 120%;}
nav a {display:block;
       padding: 0.2em;
       font-size: 1.3em;
       border-bottom: solid #330000;
       border-bottom-width: 1px;}
nav li {display:block;}
nav ul {text-align: left}
main {padding-left: 0.4em}
.category {text-shadow:none;}
footer {padding:0px;}
#mobile {display:inline;}
#desktop {display:none;}
}
